h2{
				text-decoration: underline ;
				color: red;
}
p{
				font-size: 12px;
				color: black;
}

ol{
				text-align: center;
				color: #52595D;
}

body{
				background-color: #FFF0F5;
}

a{
				color: purple;
}

h3{
	color: indigo;
	text-transform: capitalize;
}

#holder{
	color: #5D3FD3;
	text-align: right;
}
.potential{
	font-weight:bold ;
	color: #834333;
}

#confess{
	color: green;
	text-decoration: line-through;
}

#div1{
	background-color: red;
	color: white;
	border: solid;
}

#div1:hover{
	background-color: white;
	color: black;
}

#div2{
	background-color:  black;
	color: silver;
	border: dashed ;
}

#div3{
	background-color: blue;
	color: white;
	border: dotted ;
}

form{
	border: solid ;
	background-color: white;
	color: black;
	
}

input[type=button]{
	padding: 5px;
	background-color: silver;
	color: rgb(40, 40, 43)
}

input[type=text]:focus{
	background-color: green;
	color: black;
	transition: 5s;
	
}

h1{
	text-transform: uppercase;
	color: #E30B5C;
}
